@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 5px !important;
}
::-webkit-scrollbar-track {
  background-color: #fafafa !important;
  border-radius: 10px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #e7e6e6 !important;
  border-radius: 10px !important;
  height: 50px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #d8d7d7 !important;
}
-hover::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
-hover::-webkit-scrollbar-track {
  background-color: #fafafa !important;
  border-radius: 10px !important;
}
-hover::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 10px !important;
  height: 50px;
}
-hover:hover::-webkit-scrollbar-thumb {
  background-color: #e7e6e6 !important;
}
